apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: battleground
  name: secret-reader
rules:
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: read-secrets-global
  namespace: battleground
subjects:
- kind: ServiceAccount
  name: default
  namespace: battleground
roleRef:
  kind: Role
  name: secret-reader
  apiGroup: rbac.authorization.k8s.io
