apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  namespace: battleground
  labels:
    app: demo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      serviceAccountName: default
      containers:
        - name: demo-app
          image: nginx:latest
          securityContext:
            allowPrivilegeEscalation: false
          resources:
            limits:
              cpu: "100m"
              memory: "64Mi"
            requests:
              cpu: "50m"
              memory: "32Mi"
